<header>
      <h1>CSC 317 Website</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/registration">Registration</a>
          </li>
          <li>
            <a href="/postvideo">Post Video</a>
          </li>
          <li>
            <a href="/viewpost">View Post</a>
          </li>
        </ul>
      </nav>
    </header>