<main>
  
  <section>
    <div>
    <div id="counterDiv">
    <!-- Here goes the Photo Counter -->
  </div>

  <section class="main-page" id="photo-display">
    <!-- <p>[Main Page Content will go in this section.]</p> -->
  </section>
  <hr />
  </div>
  </section>
</main>