<main>
  <section class="centered">
    <div class="centered-box login-box-hw">
      <h2>Login</h2>

      <form>
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" />
        </div>

        <br />

        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" />
        </div>

        <br />

        <input class="button" type="submit" value="Login" />
      </form>
    </div>
  </section>
  <hr />
</main>