<main>
  <section class="centered">
    <div class="centered-box registration-box-hw">
      <h2>Post Video</h2>

      <form action="/posts/create" method="post" enctype="multipart/form-data">
        <div>
          <label for="postTitle">Title:</label>
          <input type="text" id="postTitle" name="title"/>
        </div>

        <br />

        <div>
          <label for="description">Description:</label>
          <textarea id="description" name="description"></textarea>
        </div>

        <br />

        <div>
          <label for="videoPost">Upload Video:</label>
          <span></span>
          <input type="file" name="uploadVideo"/>
        </div>

        <br />

        <div>
          <input type="checkbox" id="acceptPolicy" name="accept"/>
          <label class="inli" for="acceptPolicy">I accept the Acceptable Use
            Policy.</label>
        </div>

        <br />

        <input class="button" type="submit" value="Post Video" />
      </form>
    </div>
  </section>
</main>