<main class="videoPage">
  <h2>View Post</h2>
  <section class="videoSection">
    <div class="videoSide">

      <div class="video">
        <video controls src="/public/html/assets/Random.mp4"></video>
      </div>

      <p class="videoTitle">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>

      <div class="authAndCreation">
        <p class="videoAuthor">
          Lorem ipsum.
        </p>
        <p class="videoCreationTime">
          Jun 18, 2023
        </p>
      </div>
    </div>

    <div class="commentSide">
      <p>
        <strong>Comments:</strong>
      </p>

      <ol>
        <li>
          <p><strong>Sulav</strong></p>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A veniam
              delectus maxime in. Dolorem, quos!
            </li>
          </ul>
        </li>

        <li>
          <p><strong>David</strong></p>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </li>

        <li>
          <p><strong>Jeff</strong></p>
          <ul>
            <li>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Repellat, veritatis?
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </section>
  <br />

</main>