* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hoverColor: #f3f3f3;
  --hrColor: #e5e5e5;
}

body {
  font: 14px Helvetica, sans-serif, "Lucida Grande", Arial;
}

header > h1 {
  font-size: 32px;
  font-weight: bold;
  align-self: center;
  color: black;
}

header > div > h1 > a {
  text-decoration: none;
  color: #ff0000;
}

header > h1:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 16px;
}

.logoCont {
  display: flex;
  align-items: center;
}
.menuHam {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  padding-top: 12px;
  border-radius: 25%;
}

.menuHam:hover {
  background-color: var(--hoverColor);
}

nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  list-style: none;
  border: 2px solid red;
  border-radius: 4px;
  box-shadow: 5px 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  display: block;
  color: black;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  padding-inline: 20px;
  margin: 10px;
}

nav > ul > li > a:hover {
  background-color: aqua;
  cursor: pointer;
  box-shadow: 0px 0px transparent;
  transform: translateY(10px);
}
.navButton {
  background-color: white;
  text-decoration: none;
  list-style: none;
  border: 2px solid red;
  border-radius: 4px;
  box-shadow: 5px 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  display: block;
  color: black;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  padding-inline: 20px;
}

.navButton:hover {
  background-color: aqua;
  cursor: pointer;
  box-shadow: 0px 0px transparent;
  transform: translateY(10px);
}

.main {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

/* CSS to show the sidebar when it has the "show" class */
.sidebar.show {
  display: block;
}

/* CSS to hide the sidebar when it doesn't have the "show" class */
.sidebar:not(.show) {
  display: none;
}

#counterDiv {
  display: flex;
  justify-content: center;
  padding: 90px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#counterDiv > p {
  font-size: 64px;
  font-weight: bold;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 480px;
  justify-content: space-between;
  margin: 20px;
  gap: 30px;
}

.main-page img {
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}

.main-page p {
  font-size: larger;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0px 15px;
}

.individualDiv {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.7s;
}

.individualDiv:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: scale(1.018);
  cursor: pointer;
}

.contentDiv {
  flex: 9;
}

.sidebar {
  flex: 1;
  padding: 5px;
  padding-right: 40px;
  
}

.sidebar > ul > li {
  list-style: none;
  font-size: large;
  font-weight: bolder;
  padding: 10px;
  border-radius: 8px;
  min-width: 150px;
  text-decoration: none;
}

.sidebar > ul > li > a {
  text-decoration: none;
  color: black;
}

.sidebar > ul > li:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}

hr {
  color: var(--hrColor);
  height: 1px;
}

.sidebar > p {
  padding: 10px;
  padding-top: 20px;
  font-size: small;
  font-weight: bold;
}

.sidebar > a{
  text-align: center;
}

.homeBody {
  display: flex;
  flex-wrap: wrap;
}

.centered-box {
  margin: 40px 10px;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 16px;
}

.centered-box > h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: xx-large;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin: 4px 0px;
  margin-bottom: 30px;
}
/* Form Label */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inli {
  display: inline;
  margin: 4px;
}

/* Form Input */
input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  width: 100%;
  margin-bottom: 30px;
}

.error-border > input {
  border: 2px solid red;
}

.error-message {
  margin: 10px 0px;
  color: red;
}

.error-message::before {
  content: "☒ ";
  color: red;
}

/* View Post CSS elements. */

.videoPage {
  padding: 20px;
}

.videoPage > h2 {
  text-align: center;
  padding: 10px;
}

.videoSection {
  display: flex;
  flex-direction: column;
}

/* title */
.videoTitle {
  font-size: x-large;
  font-weight: bold;
  padding: 8px 0px;
}

.authAndCreation {
  display: flex;
  flex-wrap: wrap;
}

/* Author */
.videoAuthor,
.videoCreationTime {
  padding: 5px 10px;
  padding-left: 0px;
  margin: 8px 0px;
  font-weight: bold;
  background-color: #87ceeb;
  border-radius: 8px;
  color: white;
  margin-right: 8px;
}

.videoAuthor::before {
  content: "Author:";
  background-color: #4caf50;
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 0px;
  margin-right: 10px;
}

.videoCreationTime::before {
  content: "Created on: ";
  background-color: #4caf50;
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 0px;
  margin-right: 10px;
}

.commentSide {
  margin: 16px 0px;
}

.commentSide > p {
  font-size: larger;
  font-weight: bold;
}

.commentSide > ol > li {
  list-style: none;
}

.commentSide > ol > li > p {
  padding: 5px 10px;
  padding-left: 0px;
  margin: 8px 0px;
  margin-right: 8px;
}

.commentSide > ol > li > p > strong {
  padding: 5px 10px;
  font-weight: bold;
  background-color: #87ceeb;
  border-radius: 4px;
  color: white;
  margin-right: 8px;
}

.commentSide > ol > li > ul > li {
  list-style: none;
  padding-left: 40px;
}

.video {
  position: relative;
  display: flex;
  height: auto;
  justify-content: start;
  align-items: start;
  max-width: 1800px;
}

.video > video {
  width: 100%;
  height: auto;
}

/* Form Submit Button */
.button {
  display: inline-block;
  margin: 10px 0px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* medium Screen */
@media (min-width: 700px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 10px;
    padding-bottom: 16px;
  }

  nav > ul {
    flex-direction: row;
    justify-content: space-between;
  }

  nav > ul > li {
    padding: 2px;
    padding-inline: 8px;
    margin: 0 8px 0 8px;
  }

  nav > ul > li > a {
    margin: 0px;
  }
}

/* Large Screen */
@media (min-width: 999px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 5px;
  }

  nav > ul {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  nav > ul > li {
    padding: 2px;
    padding-inline: 8px;
    margin: 0 8px 0 8px;
  }

  nav > ul > li > a {
    margin: 0px;
  }

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .centered-box {
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-box-hw {
    height: auto;
    width: 500px;
  }

  .registration-box-hw {
    height: auto;
    width: 500px;
  }

  .videoSection {
    flex-direction: row;
  }

  .commentSide {
    padding: 0px 30px;
  }
}

@media (min-width: 1700px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 5px;
  }

  .homeBody {
    margin: 10px;
  }

  .main-page {
    margin-inline: 0;
  }
}

.alert {
  font-weight: bold;
  border-radius: 8px;
  overflow: hidden;
  word-wrap: normal;
  position: fixed;
  bottom: 5%;
  right: -100%;
  border: 2px solid #f59e0b;
  padding: 10px;
  margin: 10px;
  color: #ffffff;
  z-index: 999; /* Make sure it appears above other content */
  width: 20%;
  animation: slideFromLeft 10s ease-in-out forwards; /* Use CSS animation */
}

.alert_error {
  background-color: #ef4444;
}

.alert_error::before {
  content: "\26A0";
}

.alert_success {
  background-color: #45a049;
}

.alert_success::before {
  content: "\2713";
}

@keyframes slideFromLeft {
  0% {
    right: -100%; /* Start off the screen on the left */
  }
  10% {
    right: 0; /* Slide to the left edge of the screen */
  }
  90% {
    right: 0; /* Stay visible for 10 seconds (adjust as needed) */
  }
  100% {
    right: -100%; /* Slide back to the initial state */
  }
}
